/VentasUsuario.jasper
/VentasTienda.jasper
/TotalVentadia.jasper
/VentaFechasLineas.jasper
/GraficoVentaTiendaDia.jasper
/RegistroVenta.jasper
/Proforma.jasper
/RegistroVentaTienda.jasper
/OrdenCompra.jasper
