<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
                        
   <!-- Configuracion MyBatis -->
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource" />
      <property name="mapperLocations" value="classpath:/macrosoft/crexsa/model/dao/*Mapper.xml" />
      <property name="typeAliasesPackage" value="com.domain" />
      <!-- POR SI EXISTE PROBLEMAS EN JBOSS -->
	<!-- <property name="configLocation" value="classpath:/com/resources/mybatisConfig.xml" /> -->
   </bean> 

	<!-- Configuracion Ibatis -->
    <!-- 
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
       <property name="configLocation" value="classpath:/pe/gob/mintra/sovio/resources/sqlMapConfig.xml"/>
       <property name="dataSource" ref="dataSource"/>
    </bean>
     -->
     
    <!-- Configuracion transaction manager	-->
    <!-- 
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
 -->
	<!-- Recognizing Transaction Notations for Unit Test only -->
<!-- 	<tx:annotation-driven /> -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager"/> -->
</beans>