<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">   

<!-- POR SI EXISTE PROBLEMAS EN JBOSS -->

<configuration>
  <typeAliases>
    <typeAlias alias="cargaDatos" type="pe.com.gmd.ingenieria.domain.CargaDatos"/>
  </typeAliases>
</configuration>